@charset "utf-8";
/* CSS Document */

li {display: inline;}
ul {list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: darkgray;
	align-content: center;
	border-width:medium;
	border-color: rosybrown;
	border-radius: 25px;}

li {float: left;}

li a {display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;}

li a:hover {background-color: burlywood;
			font-weight: bold;}

body {background-image: url("Pozadine/pozadina3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	allign:center;}

p{color: darkolivegreen;
  font-size: 20px;
  align-content: center;
  text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";}

.Sve {margin: auto;
	  width: 60%;
	  padding: 10px;}

h2 {font-size: 30px;
    background-color: darkolivegreen;
	text-align: center;
    align-content: center;
	border-width:thick;
	border-color: antiquewhite;
	border-radius: 25px;
padding: 20px;
margin: 30px;
color:antiquewhite}

h1{font-size: 20px;
   text-align: center;
   align-content: center;
	color: floralwhite;}

span{font-weight: bolder;}

h3{color:darkolivegreen}
h4{color:darkolivegreen}

.smanjiti{width: 100px;
height:100;}

.smanjiti2{width: 100px;
height:100;}

